body {
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    background-color: rgb(240, 240, 240);
}
button {
    font-family: "Open Sans", sans-serif;
}
input {
    font-family: "Open Sans", sans-serif;
}
